
  <div class="row clearfix">
    <div class="col-md-12 column">
      <br />
      <hr>
      <br />
    </div>
  </div>

  <div class="row clearfix">
    <div class="col-md-6 column footer">
      <p>
        {% for social in site.data.social %}
          <a href="{{ social.url }}" target="_blank"><i class="fa {{ social.fa-icon }} fa-fw"></i>&nbsp; {{ social.name }}</a><br />
        {% endfor %}
      </p>

    </div>

    <div class="col-md-6 column footer">
      {% include credits.html %}
      <p class="disclaimer">© <a href="mailto:aaron@rocketsociety.com">Aaron Nunley</a>, 2015. Unauthorized use and/or duplication of this material without express and written permission from this blog’s author is strictly prohibited. Excerpts and links may be used, provided that full and clear credit is given to myself with appropriate and specific direction to the original content.</p>
    </div>
  </div>